<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mb-3">
    <div layout:fragment="siteContent">
        <div class="row justify-content-center">
            <div class="col-6">
                <form th:action="@{'/student/add-student'}" method="post">
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>NAME</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>SURNAME</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <input type="text" class="form-control" name="surname">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>AGE</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <input type="number" class="form-control" name="age">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>GPA</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <input type="number" class="form-control" name="gpa">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>BIO</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <input type="text" class="form-control" name="bio">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>СITY</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <select class="form-control" name="city.id">
                                <option th:each="city: ${cities}" th:text="${city.name}" th:value="${city.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-secondary btn-sm">Add Student</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>