<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-9" layout:fragment="siteContent">
    <div class="container mt-3">
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-between">
                <div class="row">
                    <div class="col-4 mt-5" th:each="item: ${list}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${item.getName()}"></h5>
                                <p class="card-text" th:text="${item.getDescription()}"></p>
                                <h3 th:text="${item.getPrice()}"></h3>
                                <a class="btn btn-primary" th:href="@{'/item-details/' + ${item.id}}">DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>